SUPABASE_URL=https://djqgmowfjxsnjdffdohw.supabase.co
SUPABASE_KEY=your_key_here
BACKEND_API_URL=https://re-hers-api.bravesea-cec8c7b0.eastus.azurecontainerapps.io
AUDIVERIS_API_URL=https://localhost:8080
