SLASH = /
SUPABASE_URL = https:$(SLASH)$(SLASH)djqgmowfjxsnjdffdohw.supabase.co

SUPABASE_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqcWdtb3dmanhzbmpkZmZkb2h3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDA5OTQ0NCwiZXhwIjoyMDc5Njc1NDQ0fQ.thhSTXmP7qT9c_lmwnuIaxFNLYZ3EW7pLt-Cc21RVhk
BACKEND_API_URL = https:$(SLASH)$(SLASH)re-hers-api.bravesea-cec8c7b0.eastus.azurecontainerapps.io
